<a href="https://colab.research.google.com/github/MaksAndr/Project-4-Group-4/blob/main/Project_4_cleaned1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.model_selection import train_test_split
# import hvplot.pandas
from sklearn.ensemble import RandomForestClassifier
from pathlib import Path
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [9]:
df = pd.read_csv('BankChurners.csv')
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [10]:
df.Attrition_Flag.unique()

array(['Existing Customer', 'Attrited Customer'], dtype=object)

In [11]:
# Scaling the numeric columns
data_scaled = StandardScaler().fit_transform(df[["Customer_Age", "Months_on_book","Credit_Limit","Total_Revolving_Bal", "Avg_Open_To_Buy","Total_Amt_Chng_Q4_Q1", "Total_Trans_Amt", "Total_Trans_Ct", "Total_Ct_Chng_Q4_Q1","Avg_Utilization_Ratio" ]])

In [12]:
# Creating a DataFrame with with the scaled data
df_transformed = pd.DataFrame(data_scaled, columns=["Customer_Age", "Months_on_book","Credit_Limit","Total_Revolving_Bal", "Avg_Open_To_Buy","Total_Amt_Chng_Q4_Q1", "Total_Trans_Amt", "Total_Trans_Ct", "Total_Ct_Chng_Q4_Q1","Avg_Utilization_Ratio"])

In [13]:
# Display sample data
df_transformed.head()

,Customer_Age,Months_on_book,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,-0.165406,0.384621,0.446622,-0.473422,0.488971,2.623494,-0.959707,-0.973895,3.834003,-0.775882
1,0.333570,1.010715,-0.041367,-0.366667,-0.008486,3.563293,-0.916433,-1.357340,12.608573,-0.616276
2,0.583058,0.008965,-0.573698,-1.426858,-0.445658,8.367214,-0.740982,-1.911206,6.807864,-0.997155
3,-0.789126,-0.241473,-0.585251,1.661686,-0.734100,2.942843,-0.951758,-1.911206,6.807864,1.759686
4,-0.789126,-1.869317,-0.430877,-1.426858,-0.302868,6.455682,-1.056263,-1.570365,7.509325,-0.997155

In [14]:
df.dtypes

CLIENTNUM                                                                                                                               int64
Attrition_Flag                                                                                                                         object
Customer_Age                                                                                                                            int64
Gender                                                                                                                                 object
Dependent_count                                                                                                                         int64
Education_Level                                                                                                                        object
Marital_Status                                                                                                                         object
Income_Category                                                                                                                        object
Card_Category                                                                                                                          object
Months_on_book                                                                                                                          int64
Total_Relationship_Count                                                                                                                int64
Months_Inactive_12_mon                                                                                                                  int64
Contacts_Count_12_mon                                                                                                                   int64
Credit_Limit                                                                                                                          float64
Total_Revolving_Bal                                                                                                                     int64
Avg_Open_To_Buy                                                                                                                       float64
Total_Amt_Chng_Q4_Q1                                                                                                                  float64
Total_Trans_Amt                                                                                                                         int64
Total_Trans_Ct                                                                                                                          int64
Total_Ct_Chng_Q4_Q1                                                                                                                   float64
Avg_Utilization_Ratio                                                                                                                 float64
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    float64
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    float64
dtype: object

In [15]:
# Transform the columns using get_dummies()
df_dummies = pd.get_dummies(df[["Gender", "Education_Level", "Marital_Status", "Income_Category", "Card_Category"]],  )
# Display sample data
df_categorical = df_dummies.replace(True,1).replace(False,0)

In [16]:
df_categorical

,Gender_F,Gender_M,Education_Level_College,Education_Level_Doctorate,Education_Level_Graduate,Education_Level_High School,Education_Level_Post-Graduate,Education_Level_Uneducated,Education_Level_Unknown,Marital_Status_Divorced,...,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
3,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
4,0,1,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,0,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
10123,0,1,0,0,0,0,0,0,1,1,...,0,1,0,0,0,0,1,0,0,0
10124,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
10125,0,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
10126,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [17]:
# df_flag = df.Attrition_Flag.replace('Attrited Customer',1).replace('Existing Customer',0)

df=df.replace(to_replace='Existing Customer', value=0)
df=df.replace(to_replace='Attrited Customer', value=1)
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,0,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,0,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,0,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,0,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,0,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [18]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = df['Attrition_Flag']

# Separate the X variable, the features
X = df.drop(columns = 'Attrition_Flag')

In [19]:
X.head()

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,45,M,3,High School,Married,$60K - $80K,Blue,39,5,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [20]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Attrition_Flag, dtype: int64

In [21]:
# # Transform the Attrition_Flag column using get_dummies()
# flag_dummies = pd.get_dummies(df["Attrition_Flag"])

# y = flag_dummies.replace(True,1).replace(False,0)
# # Display sample data
# y.head()

In [22]:
df_transformed.head()

,Customer_Age,Months_on_book,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,-0.165406,0.384621,0.446622,-0.473422,0.488971,2.623494,-0.959707,-0.973895,3.834003,-0.775882
1,0.333570,1.010715,-0.041367,-0.366667,-0.008486,3.563293,-0.916433,-1.357340,12.608573,-0.616276
2,0.583058,0.008965,-0.573698,-1.426858,-0.445658,8.367214,-0.740982,-1.911206,6.807864,-0.997155
3,-0.789126,-0.241473,-0.585251,1.661686,-0.734100,2.942843,-0.951758,-1.911206,6.807864,1.759686
4,-0.789126,-1.869317,-0.430877,-1.426858,-0.302868,6.455682,-1.056263,-1.570365,7.509325,-0.997155

In [23]:
df_categorical.head()

,Gender_F,Gender_M,Education_Level_College,Education_Level_Doctorate,Education_Level_Graduate,Education_Level_High School,Education_Level_Post-Graduate,Education_Level_Uneducated,Education_Level_Unknown,Marital_Status_Divorced,...,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
3,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
4,0,1,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0

In [24]:
# Concatenate the df_shopping_transformed and the card_dummies DataFrames
X= pd.concat([df_transformed, df_categorical], axis=1)

# Display sample data
X.head()

,Customer_Age,Months_on_book,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,...,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,-0.165406,0.384621,0.446622,-0.473422,0.488971,2.623494,-0.959707,-0.973895,3.834003,-0.775882,...,0,0,1,0,0,0,1,0,0,0
1,0.333570,1.010715,-0.041367,-0.366667,-0.008486,3.563293,-0.916433,-1.357340,12.608573,-0.616276,...,0,0,0,0,1,0,1,0,0,0
2,0.583058,0.008965,-0.573698,-1.426858,-0.445658,8.367214,-0.740982,-1.911206,6.807864,-0.997155,...,0,0,0,1,0,0,1,0,0,0
3,-0.789126,-0.241473,-0.585251,1.661686,-0.734100,2.942843,-0.951758,-1.911206,6.807864,1.759686,...,0,0,0,0,1,0,1,0,0,0
4,-0.789126,-1.869317,-0.430877,-1.426858,-0.302868,6.455682,-1.056263,-1.570365,7.509325,-0.997155,...,0,0,1,0,0,0,1,0,0,0

In [25]:
# df_cleaned.to_csv('Project_4_Cleaned.csv')

 Split our data into training and testing

In [26]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [27]:
X

,Customer_Age,Months_on_book,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,...,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,-0.165406,0.384621,0.446622,-0.473422,0.488971,2.623494,-0.959707,-0.973895,3.834003,-0.775882,...,0,0,1,0,0,0,1,0,0,0
1,0.333570,1.010715,-0.041367,-0.366667,-0.008486,3.563293,-0.916433,-1.357340,12.608573,-0.616276,...,0,0,0,0,1,0,1,0,0,0
2,0.583058,0.008965,-0.573698,-1.426858,-0.445658,8.367214,-0.740982,-1.911206,6.807864,-0.997155,...,0,0,0,1,0,0,1,0,0,0
3,-0.789126,-0.241473,-0.585251,1.661686,-0.734100,2.942843,-0.951758,-1.911206,6.807864,1.759686,...,0,0,0,0,1,0,1,0,0,0
4,-0.789126,-1.869317,-0.430877,-1.426858,-0.302868,6.455682,-1.056263,-1.570365,7.509325,-0.997155,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,0.458314,0.509840,-0.509330,0.844455,-0.584929,-0.259771,3.259358,2.221481,0.608119,0.678714,...,0,1,0,0,0,0,1,0,0,0
10123,-0.664382,-1.368442,-0.479181,1.255524,-0.591639,0.201004,1.283475,0.176440,-0.122745,0.856458,...,0,1,0,0,0,0,1,0,0,0
10124,-0.290150,0.008965,-0.354626,-1.426858,-0.226632,0.269436,1.732994,-0.207005,0.444305,-0.997155,...,0,0,0,0,1,0,1,0,0,0
10125,-2.036565,0.008965,-0.368710,-1.426858,-0.240713,-1.026208,1.174848,-0.121795,0.041070,-0.997155,...,0,1,0,0,0,0,1,0,0,0
10126,-0.414894,-1.368442,0.193220,0.979433,0.105372,-0.259771,1.733877,-0.164400,-0.265557,-0.311572,...,0,0,0,0,1,0,0,0,0,1

In [28]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Attrition_Flag, dtype: int64

Create a Logistic Regression Model

In [29]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
model = LogisticRegression(solver='lbfgs', max_iter=1000,random_state=1)

# Fit the model using training data
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=1)

 ## Fit (train) or model using the training data

In [30]:
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=1)

 ## Make predictions

In [31]:
# Predict outcomes for test data set
predictions = model.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

      Prediction  Actual
6498           0       0
9013           0       0
2053           0       0
3211           0       0
5559           1       1
...          ...     ...
7502           0       0
6390           0       0
2347           0       0
5340           0       0
9126           0       0

[2532 rows x 2 columns]

## Calculate the Accuracy Score

In [32]:
from sklearn.metrics import accuracy_score
# Display the accuracy score for the test dataset.
accuracy_score(y_test, predictions)

0.8846761453396524

In [33]:
# Generate a confusion matrix for the model
conf_mtrx = confusion_matrix(y_test, predictions)
print(conf_mtrx)

[[2043   84]
 [ 208  197]]

In [34]:
# Print the classification report for the model
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.91      0.96      0.93      2127
           1       0.70      0.49      0.57       405

    accuracy                           0.88      2532
   macro avg       0.80      0.72      0.75      2532
weighted avg       0.87      0.88      0.88      2532

Use the `StandardScaler` to scale the features data, remember that only `X_train` and `X_testing` DataFrames should be scaled.

In [35]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [36]:
# Fit the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)

In [37]:
# Scale the training data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Fitting the Random Forest Model

In [38]:
# Create the random forest classifier instance
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [39]:
# Fit the model and use .ravel()on the "y_train" data. 
rf_model = rf_model.fit(X_train_scaled, y_train.ravel())

 Making Predictions Using the Random Forest Model

In [40]:
# Making predictions using the testing data
predictions_rf= rf_model.predict(X_test_scaled)

## Model Evaluation

In [41]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions_rf)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions_rf)

In [42]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         2088           39
Actual 1          117          288

Accuracy Score : 0.9383886255924171
Classification Report
              precision    recall  f1-score   support

           0       0.91      0.96      0.93      2127
           1       0.70      0.49      0.57       405

    accuracy                           0.88      2532
   macro avg       0.80      0.72      0.75      2532
weighted avg       0.87      0.88      0.88      2532

In [43]:
# Get the feature importance array
importances = rf_model.feature_importances_
# List the top 10 most important features
importances_sorted = sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)
importances_sorted[:10]

[(0.19093944872959479, 'Total_Trans_Amt'),
 (0.1723655880342526, 'Total_Trans_Ct'),
 (0.12007935908675207, 'Total_Ct_Chng_Q4_Q1'),
 (0.10756844648525253, 'Total_Revolving_Bal'),
 (0.07481071395659109, 'Total_Amt_Chng_Q4_Q1'),
 (0.07348473805150793, 'Avg_Utilization_Ratio'),
 (0.04642364200169695, 'Credit_Limit'),
 (0.0446688124731844, 'Avg_Open_To_Buy'),
 (0.042353450258288385, 'Customer_Age'),
 (0.033955761461921, 'Months_on_book')]

Use the RandomOverSampler module from the imbalanced-learn library to resample the data.

In [44]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ro_model = RandomOverSampler(random_state = 1)

# Fit the original training data to the random_oversampler model
X_resample, y_resample =  ro_model.fit_resample(X_train, y_train)

In [45]:
y_resample.value_counts()

0    6373
1    6373
Name: Attrition_Flag, dtype: int64

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X_resample, y_resample, random_state=42, stratify=y_resample)

In [47]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
model_ro = LogisticRegression( max_iter=1000 , random_state = 1)

# Fit the model using the resampled training data
model_ro.fit(X_train, y_train)

# Make a prediction using the testing data
prediction_ro = model_ro.predict(X_test)

In [48]:
# Print the balanced_accuracy score of the model 
acc_score_ro = balanced_accuracy_score(y_test, prediction_ro)
print(acc_score_ro)

0.8289950308005303

In [49]:
# Generate a confusion matrix for the model
conf_mtrx_ro = confusion_matrix(y_test, prediction_ro)
print(conf_mtrx_ro)

[[1310  284]
 [ 261 1332]]

In [50]:
# Print the classification report for the model
print(classification_report(y_test, prediction_ro))

              precision    recall  f1-score   support

           0       0.83      0.82      0.83      1594
           1       0.82      0.84      0.83      1593

    accuracy                           0.83      3187
   macro avg       0.83      0.83      0.83      3187
weighted avg       0.83      0.83      0.83      3187

In [51]:
# Instantiate the Random Forest model
# Assign a random_state parameter of 1 to the model
model_ro_rf = RandomForestClassifier(random_state = 1)

# Fit the model using the resampled training data
model_ro_rf.fit(X_train, y_train)

# Make a prediction using the testing data
prediction_ro_rf = model_ro_rf.predict(X_test)

In [52]:
# Print the balanced_accuracy score of the model 
acc_score_ro_rf = balanced_accuracy_score(y_test, prediction_ro_rf)
print(acc_score_ro_rf)

0.9852562300087979

In [53]:
# Generate a confusion matrix for the model
conf_mtrx_ro_rf = confusion_matrix(y_test, prediction_ro_rf)
print(conf_mtrx_ro_rf)

[[1552   42]
 [   5 1588]]

In [54]:
# Print the (Random Forest)classification report for the model
print(classification_report(y_test, prediction_ro_rf))

              precision    recall  f1-score   support

           0       1.00      0.97      0.99      1594
           1       0.97      1.00      0.99      1593

    accuracy                           0.99      3187
   macro avg       0.99      0.99      0.99      3187
weighted avg       0.99      0.99      0.99      3187

In [63]:
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=33))
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

In [64]:
# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [65]:
# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=100)

Epoch 1/100
299/299 [==============================] - 2s 2ms/step - loss: 0.5126 - accuracy: 0.7545
Epoch 2/100
299/299 [==============================] - 1s 2ms/step - loss: 0.3766 - accuracy: 0.8347
Epoch 3/100
299/299 [==============================] - 1s 3ms/step - loss: 0.3221 - accuracy: 0.8672
Epoch 4/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2875 - accuracy: 0.8823
Epoch 5/100
299/299 [==============================] - 1s 3ms/step - loss: 0.2664 - accuracy: 0.8920
Epoch 6/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2548 - accuracy: 0.8953
Epoch 7/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2476 - accuracy: 0.8983
Epoch 8/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2414 - accuracy: 0.9023
Epoch 9/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2353 - accuracy: 0.9066
Epoch 10/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2314 - accuracy: 0.9074
Epoch 11/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2266 - accuracy: 0.9108
Epoch 12/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2226 - accuracy: 0.9131
Epoch 13/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2200 - accuracy: 0.9135
Epoch 14/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2176 - accuracy: 0.9156
Epoch 15/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2156 - accuracy: 0.9167
Epoch 16/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2129 - accuracy: 0.9162
Epoch 17/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2109 - accuracy: 0.9173
Epoch 18/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2089 - accuracy: 0.9175
Epoch 19/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2062 - accuracy: 0.9205
Epoch 20/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2028 - accuracy: 0.9215
Epoch 21/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2011 - accuracy: 0.9223
Epoch 22/100
299/299 [==============================] - 1s 2ms/step - loss: 0.2013 - accuracy: 0.9219
Epoch 23/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1983 - accuracy: 0.9234
Epoch 24/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1967 - accuracy: 0.9234
Epoch 25/100
299/299 [==============================] - 1s 3ms/step - loss: 0.1940 - accuracy: 0.9239
Epoch 26/100
299/299 [==============================] - 1s 3ms/step - loss: 0.1920 - accuracy: 0.9257
Epoch 27/100
299/299 [==============================] - 1s 3ms/step - loss: 0.1916 - accuracy: 0.9272
Epoch 28/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1888 - accuracy: 0.9253
Epoch 29/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1878 - accuracy: 0.9275
Epoch 30/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1858 - accuracy: 0.9276
Epoch 31/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1855 - accuracy: 0.9278
Epoch 32/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1840 - accuracy: 0.9285
Epoch 33/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1818 - accuracy: 0.9298
Epoch 34/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1810 - accuracy: 0.9318
Epoch 35/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1806 - accuracy: 0.9295
Epoch 36/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1782 - accuracy: 0.9327
Epoch 37/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1756 - accuracy: 0.9333
Epoch 38/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1755 - accuracy: 0.9338
Epoch 39/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1732 - accuracy: 0.9349
Epoch 40/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1728 - accuracy: 0.9350
Epoch 41/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1709 - accuracy: 0.9337
Epoch 42/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1702 - accuracy: 0.9357
Epoch 43/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1679 - accuracy: 0.9358
Epoch 44/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1669 - accuracy: 0.9378
Epoch 45/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1656 - accuracy: 0.9378
Epoch 46/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1646 - accuracy: 0.9369
Epoch 47/100
299/299 [==============================] - 1s 3ms/step - loss: 0.1634 - accuracy: 0.9372
Epoch 48/100
299/299 [==============================] - 1s 3ms/step - loss: 0.1629 - accuracy: 0.9397
Epoch 49/100
299/299 [==============================] - 1s 3ms/step - loss: 0.1611 - accuracy: 0.9387
Epoch 50/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1586 - accuracy: 0.9401
Epoch 51/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1581 - accuracy: 0.9386
Epoch 52/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1572 - accuracy: 0.9400
Epoch 53/100
299/299 [==============================] - 1s 3ms/step - loss: 0.1562 - accuracy: 0.9410
Epoch 54/100
299/299 [==============================] - 1s 3ms/step - loss: 0.1555 - accuracy: 0.9412
Epoch 55/100
299/299 [==============================] - 1s 3ms/step - loss: 0.1545 - accuracy: 0.9410
Epoch 56/100
299/299 [==============================] - 1s 4ms/step - loss: 0.1533 - accuracy: 0.9419
Epoch 57/100
299/299 [==============================] - 1s 5ms/step - loss: 0.1515 - accuracy: 0.9437
Epoch 58/100
299/299 [==============================] - 1s 5ms/step - loss: 0.1506 - accuracy: 0.9416
Epoch 59/100
299/299 [==============================] - 1s 3ms/step - loss: 0.1512 - accuracy: 0.9429
Epoch 60/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1479 - accuracy: 0.9447
Epoch 61/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1482 - accuracy: 0.9420
Epoch 62/100
299/299 [==============================] - 1s 3ms/step - loss: 0.1469 - accuracy: 0.9447
Epoch 63/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1457 - accuracy: 0.9442
Epoch 64/100
299/299 [==============================] - 1s 3ms/step - loss: 0.1443 - accuracy: 0.9438
Epoch 65/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1437 - accuracy: 0.9459
Epoch 66/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1415 - accuracy: 0.9480
Epoch 67/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1412 - accuracy: 0.9473
Epoch 68/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1407 - accuracy: 0.9474
Epoch 69/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1385 - accuracy: 0.9472
Epoch 70/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1364 - accuracy: 0.9485
Epoch 71/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1373 - accuracy: 0.9504
Epoch 72/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1363 - accuracy: 0.9476
Epoch 73/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1343 - accuracy: 0.9508
Epoch 74/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1334 - accuracy: 0.9509
Epoch 75/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1329 - accuracy: 0.9516
Epoch 76/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1319 - accuracy: 0.9487
Epoch 77/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1315 - accuracy: 0.9509
Epoch 78/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1305 - accuracy: 0.9501
Epoch 79/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1290 - accuracy: 0.9521
Epoch 80/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1281 - accuracy: 0.9511
Epoch 81/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1286 - accuracy: 0.9527
Epoch 82/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1260 - accuracy: 0.9532
Epoch 83/100
299/299 [==============================] - 1s 3ms/step - loss: 0.1253 - accuracy: 0.9515
Epoch 84/100
299/299 [==============================] - 1s 3ms/step - loss: 0.1228 - accuracy: 0.9523
Epoch 85/100
299/299 [==============================] - 1s 3ms/step - loss: 0.1243 - accuracy: 0.9522
Epoch 86/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1222 - accuracy: 0.9546
Epoch 87/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1219 - accuracy: 0.9556
Epoch 88/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1203 - accuracy: 0.9541
Epoch 89/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1188 - accuracy: 0.9564
Epoch 90/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1185 - accuracy: 0.9551
Epoch 91/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1173 - accuracy: 0.9559
Epoch 92/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1185 - accuracy: 0.9551
Epoch 93/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1156 - accuracy: 0.9557
Epoch 94/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1140 - accuracy: 0.9573
Epoch 95/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1134 - accuracy: 0.9572
Epoch 96/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1121 - accuracy: 0.9581
Epoch 97/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1115 - accuracy: 0.9586
Epoch 98/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1118 - accuracy: 0.9588
Epoch 99/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1124 - accuracy: 0.9568
Epoch 100/100
299/299 [==============================] - 1s 2ms/step - loss: 0.1102 - accuracy: 0.9593

In [66]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

100/100 - 0s - loss: 0.1572 - accuracy: 0.9394 - 273ms/epoch - 3ms/step
Loss: 0.15721997618675232, Accuracy: 0.9394415020942688

In [ ]:
y_predict=nn_model.predict(X_test)
y_test